* {
  user-select: none;
  font-family: 'Nunito Sans', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
